@import "variables";

.makeBtnDark() {
  border: 1px solid black;
  background-color: @dark;
  padding: 1em;
  cursor: pointer;
  font-size: @font-size-default;
  color: @main-color;
  &:hover {
    background-color: @main-color;
    color: @dark;
  }
  &:active {
    background-color: darken(@main-color, 10%);
    color: @dark;
  }
}

.btn-dark {
  .makeBtnDark();
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn-light {
  border: 1px solid black;
  background-color: white;
  padding: 1em;
  cursor: pointer;
  font-size: @font-size-default;
  color: @main-dark-color;
  border-radius: 5px;
  &:hover {
    background-color: darken(white, 10%);
    color: @main-dark-color;
  }
  &:active {
    background-color: darken(white, 20%);
    color: @main-dark-color;
  }
}

mark {
  padding: 0 0.2em;
  background-color: transparent;
  box-shadow: inset 0 0 5px 5px @main-color;
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

@size-step: 5%;
.size-5 {
  width: @size-step * 5;
}

.size-8 {
  width: @size-step * 8;
}

.size-14 {
  width: @size-step * 14;
}

.size-1, .size-2, .size-3, .size-4, .size-5, .size-8, .size-14 {
  float: left;
  margin: 0 15px;
}

.panel {
  padding: 15px;
  border: 1px solid @gray;
  border-radius: 5px;
  background-color: darken(white, 5%);
}

.uppercase {
  text-transform: uppercase;
}

.table {
  & > thead {
    th {
      font-size: 24px;
      padding: 0 1em 0 1em;
    }
  }
  &.striped {
    tbody > tr:nth-child(even) {
      background-color: white;
    }
    tbody > tr:nth-child(odd) {
      background-color: darken(white, 5%);
    }
  }
  td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    &.has-table {
      text-align: center;
    }
  }
  &.bordered {
    border: 1px solid @gray;
  }
  &.dark {
    border: 1px solid darken(@dark, 10%);
    background-color: @dark;
    & > thead {
      background-color: darken(@gray, 30%);
      color: @main-dark-color;
    }
    & > tbody {
      background-color: @dark;
      td {
        background-color: @dark;
      }
      color: @main-color;
    }
    td, th {
      border: 0;
    }
  }

  &.light {
    background-color: darken(white, 20%);
    & > thead {
      background-color: @gray;
      color: @main-dark-color;
    }
    & > tbody {
      background-color: lighten(@gray, 10%);
      color: @main-dark-color;
    }
    td, th {
      border: 0;
    }
  }
}

ol.list-baguette {
  padding-left: 5em;
  list-style-type: upper-roman;
  & > li {
    font-size: @font-size-default + 4px;
  }
}

ul.list-baguette {
  padding-left: 3em;
  list-style-image: url("../Images/baguette-bullet.png");
  & > li {
    font-size: @font-size-default + 4px;
  }
}

.btn-group {
  position: absolute;
  top: 23px;
  right: 30px;
  display: inline-block;
  font-size: 0;
  height: 100%;
  .btn {
    display: inline;
    font-style: normal;
    text-decoration: none;

    &.left {
      border-radius: 5px 0 0 5px;
    }
    &.middle {
      margin-left: -3px;
      border-radius: 0;
    }
    &.right {
      margin-left: -3px;
      border-radius: 0 5px 5px 0;
    }
  }
  &.btn-group-dark {
    .btn {
      .makeBtnDark();
    }
  }
}

.form {
  font-size: 24px;

  & > .form-heading {
    font-size: 2em;
    padding: 0 10px 20px 10px;
    text-align: center;
  }
}

.form-group {
  padding: 10px;
  & > label {
    &:after {
      content: " : "
    }
  }
  .form-element() {
    display: inline-block;
    font-size: 20px;
    height: 36px;
    padding: 3px;
  }
  & > label {
    .form-element();
    min-width: 30%;
    max-width: 30%;
    text-align: right;
    margin: 0;
  }
  & > input[type="text"], input[type="email"], input[list], input[type="tel"], input[type="months"],
  input[type="color"], input[type="url"], select, input[type="password"] {
    .form-element();
    min-width: 65%;
    max-width: 65%;
    &:required {
      outline: 1px solid blue;
    }
  }
  input[type="range"] {
    .form-element();
    margin: 0;
    min-width: 65%;
    max-width: 65%;
    vertical-align: middle;
  }

  & > input[type="radio"] {
    margin-left: 35%;
    &:first-of-type {
      margin-left: 2%;
    }
  }
  .radio-buttons {
    .form-element();
    height: auto;
  }
  & > textarea {
    width: 100%;
    height: 10em;
  }
}

input.search-bar {
  height: 3em;
  width: 20vw;
}

.btn-submit {
}

.btn-reset {
  font-size: @font-size-default * 0.8;
}

input:invalid {
  outline: 1px solid red;
}

@media print {
  * {
    color: black;
  }

  nav {
    display: none;
  }

  footer {
    display: none;
  }

  img {
    display: none;
  }

  .btn, button, .btn-dark, .btn-submit, .btn-reset, .btn-light {
    background-color: black;
    color: white;
  }

  section.join-us {
    width: 100%;
  }

  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }
}

.form-error {
  color: red;
}