@import "animations.less";
.red {
  color: red;
  font-style: italic;
  font-weight: bolder;
}

.weird {
  text-decoration: line-through;
  color: blue;
  animation: rotateAnim 2s linear infinite;
}

//* {
//  animation: rotateAnim 2s linear;
//}

